
.ipynb_checkpoints/HW2_Burenkov-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/HW3_Burenkov-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
house-prices-advanced-regression-techniques.zip
.ipynb_checkpoints/top-10-house-price-regression-competition-nb-checkpoint.ipynb
logs.log
submission.csv
submission
catboost_info/time_left.tsv
catboost_info/learn_error.tsv
catboost_info/learn/events.out.tfevents
catboost_info/catboost_training.json
*.tmp
Untitled1.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Pytorch_1-checkpoint.ipynb
Untitled2.ipynb
.ipynb_checkpoints/HW1_Burenkov-checkpoint.ipynb
.ipynb_checkpoints/01_Pytorch_HW_Burenkov-checkpoint.ipynb
.ipynb_checkpoints/Pytorch_Linear-checkpoint.ipynb
.ipynb_checkpoints/02_Pytorch_HW_Burenkov-checkpoint.ipynb
data/*
__pycache__/helper_functions.cpython-310.pyc
.ipynb_checkpoints/NN_FINAL-checkpoint.ipynb
.ipynb_checkpoints/portfolios sp 500 efficient frontier refined___-checkpoint.ipynb
all_results_data.pkl
RiskManagement/Project/.ipynb_checkpoints/Portfolio_Selection_Burenkov-checkpoint.ipynb
RiskManagement/Project/.ipynb_checkpoints/Portfolio_Selection_Burenkov-checkpoint.ipynb
RiskManagement/Project/.ipynb_checkpoints/Portfolio_Selection_Burenkov-checkpoint.ipynb
FINAL/.ipynb_checkpoints/Untitled-checkpoint.ipynb
FINAL/.ipynb_checkpoints/Burenkov-checkpoint.ipynb
RiskManagement/Project/.ipynb_checkpoints/Portfolio_Selection_Burenkov-checkpoint.ipynb
RiskManagement/Project/.ipynb_checkpoints/Portfolio_Selection_Burenkov-checkpoint.ipynb
*.pcl
