
.ipynb_checkpoints/HW2_Burenkov-checkpoint.ipynb
Untitled.ipynb
.ipynb_checkpoints/HW3_Burenkov-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
house-prices-advanced-regression-techniques.zip
.ipynb_checkpoints/top-10-house-price-regression-competition-nb-checkpoint.ipynb
logs.log
submission.csv
submission
catboost_info/time_left.tsv
catboost_info/learn_error.tsv
catboost_info/learn/events.out.tfevents
catboost_info/catboost_training.json
